/* #region Variables */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --text-color: var(--slate);
  --title-color: var(--navy-blue);
  --link-color: var(--navy-blue);
  --accent-color: var(--ocean);
  --background-color: var(--white);
  --card-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* #endregion */

/* #region Base */
body {
  /* #region Fonts */
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  /* #endregion */
  background-color: var(--background-color);
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: var(--font-family);
  color: var(--link-color);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--title-color);
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

p {
  letter-spacing: 0.02em;
  font-size: 16px;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

/* #endregion */

/* #region Button */

.button {
  /* display: block; */

  /* border-radius: 4px; */
  /* padding: 16px 32px; */
  /* width: 169px; */
  /* height: 56px; */

  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); */
  border: none;
  background: var(--iris);
  color: var(--white);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button:hover,
.button:focus {
  background: var(--accent-color);
}
/* #endregion */

/* #region Logo */
.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-accent {
  color: var(--navy-blue);
}

.logo-accent.light {
  color: var(--cloud);
}
/* #endregion */

/* #region Header */
/* .header {
  display: flex;
  padding: 24px 5%;
} */

/* .nav {
  display: flex;
  align-items: center;
} */

/* .nav-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 16px;
} */

.nav-item {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav-item > a:hover,
.nav-item > a:focus {
  color: var(--accent-color);
}

/* .address {
  margin-left: auto;
} */

/* 
.address-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 16px;
} */

.address-item {
  letter-spacing: 0.02em;
}

.address-item > a {
  color: var(--secondary-text-color);
}

.address-item > a:hover,
.address-item > a:focus {
  color: var(--accent-color);
}
/* #endregion */

/* #region Hero */
.hero {
  background-color: var(--navy-blue);
  /* padding-top: 120px; */
  /* padding-bottom: 120px; */
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  /* max-width: 496px; */
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-button {
  margin: 0 auto;
}
/* #endregion */

/* #region Services */
/* .services {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 5%;
  padding-right: 5%;
} */

.services-list {
  /* display: flex; */
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 48px 24px; */
}

/* .services-item {
  width: 264px;
} */
/* #endregion */

/* #region Team */
.team {
  background-color: var(--cloud);
  /* padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 5%;
  padding-right: 5%; */
}

.team-title {
  text-transform: capitalize;
}

.team-list {
  /* display: flex; */
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 48px 24px; */
}

.team-item {
  background-color: var(--white);
  /* box-shadow: var(--card-shadow); */
  /* border-radius: 0px 0px 4px 4px; */
  text-align: center;
}
/* #endregion */

/* #region Portfolio */
/* .portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
  padding-left: 5%;
  padding-right: 5%;
} */

.portfolio-list {
  /* display: flex; */
  flex-wrap: wrap;
  /* gap: 48px 24px; */
  justify-content: center;
}

.portfolio-title {
  text-transform: capitalize;
}

/* .portfolio-item {
  width: 360px;
} */

/* .portfolio-item:hover {
  box-shadow: var(--card-shadow);
} */

/* .card-content {
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  padding: 32px 16px;
} */
/* #endregion */

/* #region Footer */
.footer {
  background-color: var(--navy-blue);
  /* padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 10%;
  padding-right: 10%; */
}

/* .footer-text-container {
  width: 264px;
} */

.footer-text {
  color: var(--cloud);
}
/* #endregion */
